<!--这里是对于所有模板文件的通用部分-->
<p>
    <!--这里是在设置指向其他页面的超链接，使用<a></a>定义-->
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> -
    <a href="{% url 'learning_logs:topics' %}">Topics</a>
</p>

<p>
    {% if user.is_authenticated %}
        Hello, {{ user.username }}
    {% else %}
        <a href="{% url 'accounts:register' %}">Register</a> -
        <a href="{% url 'accounts:login' %}">Log in</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}

{% if user.is_authenticated %}
    <hr />
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
    <button name="submit">Log out</button>
    </form>
{% endif %}
